<body>
  <h2>Changelog - Pizza Dough Premium</h2>

  <p>
    1.7.3 <br/>
    - Updates to wording<br />
    - Added tooltips<br />
    - Quality of life improvements<br /><br />

    1.7.2 <br />
    - New chime<br /><br />

    1.7.1 <br />
    - Added more information about preferment in the tooltip<br />
    - Fixed dark mode for preferment table headers<br />
    - Changelogs can be accessed in About<br />
    - Fixed timer notifications to make them persistent, even if the app sleeps. <br /><br />

    1.7.0 <br />
    - At the expense of app size, I've moved all images to exist locally to
    improve loading and keep app totally offline <br />
    - New in-app timer

    <br /><br />1.6.30 <br />
    - Dark theme improvements

    <br /><br />1.6.29 <br />
    - Corrected recipe instructions in regards to mixing

    <br /><br />1.6.28 <br />
    - Updated icon

    <br /><br />1.6.27 <br />
    - Fixed bug where changing salt type wouldn’t be reflected on the table

    <br /><br />1.6.25 <br />
    - US Customary wording

    <br /><br />1.6.24 <br />
    - Updated API target <br />
    - Clarified Imperial is U.S. Customary <br />
    - Wording

    <br /><br />1.6.23 <br />
    - Slight wording update

    <br /><br />1.6.22 <br />
    - Bug fixes of all kinds <br />
    - Refinements <br />
    - Feature: Link (URL) parsing and generation, compatible with webapp <br />
    - Feature: Single JSON recipe sharing

    <br /><br />1.5.21 <br />
    - Wording <br />
    - Minor quick fix

    <br /><br />1.5.20 <br />
    - Misc fixes <br />
    - Wording updates <br />
    - Feature: first draft of backup system using Android's native key:value
    backup system.

    <br /><br />1.4.18 <br />
    - Redid FAQ and Tips <br />
    - Wording fixes

    <br /><br />1.4.17 <br />
    - Image fixes and optimization

    <br /><br />1.4.16 <br />
    - Fix typos, rewording, clarifications <br />
    - Many styling refinements and misc fixes

    <br /><br />1.4.15 <br />
    - Reduced app size by an additional 52%

    <br /><br />1.4.14 <br />
    - Feature: Now a Detailed instructions view with images and tooltips <br />
    - Now can hide instructions in Recipe tab <br />
    - Now portrait mode only. App had compatibility issues with landscape. Will
    revisit in the future if requested. <br />
    - Reduced app size by about 10%

    <br /><br />1.3.13 <br />
    - Fixed issue with type conversion from string to boolean, and fixed toggle
    permanence.

    <br /><br />1.2.12 <br />
    - New input validation. Missing required fields will be tagged (side borders)
    in blue.

    <br /><br />1.1.12 <br />
    - Fixed bug where inputs had to be reset before table would generate properly

    <br /><br />1.1.11 <br />
    - Fix on displaying table

    <br /><br />1.1.10 <br />
    - Re- set Metric to default (not null) <br />
    - Better fix to added ingredients clearing

    <br /><br />1.1.9 <br />
    - Allowing most preferment values to be 0 if desired (for now) <br />
    - Updated tooltips and FAQ regarding Sourdough (preferment) <br />
    - Fixed bug where preferment yeast amount wasn't sticking <br />
    - Fixed bug where yeast wouldn't show in Final Dough table <br />
    - Fixed bug where added ingredient values would clear when adding or removing
    <br />
    - Major speed improvements <br />
    - Proper spacing with table details

    <br /><br />1.1.8 <br />
    - Fixes for showInfo toggle

    <br /><br />1.1.7 <br />
    - Hotfix, permissions/plugin issue prevented app from working properly

    <br /><br />1.1.6 <br />
    - Can now toggle table details <br />
    - Style fixes and improvements <br />
    - Fixed bug where sloped pan value check failed

    <br /><br />1.0.5 <br />
    - Now public <br />
    - Added persistent Measurement Type <br />
    - Fixed length error when string empty <br />
    - Cleaned up first-time dialog, added Dismiss button

    <br /><br />1.0.4 <br />
    - Smoother animations on tab switching <br />
    - Styling fix around table <br />
    - Wording

    <br /><br />1.0.3 <br />
    - Now available for beta testing

    <br /><br />1.0.2 <br />
    - Minor fix for updating calculator values <br />
    - Fixed asynchronous issue where updating a recipe would cause it to
    disappear (rare)

    <br /><br />Pre 1.0.0 <br />
    - 1.0.1 <br />
    - Private beta, initial working version
  </p>
</body>
