<body [@cardAnimationNoStagger]>
  <div class="header">
    <img src="../../assets/pizza-free.png" />
    <h1>Pizza Dough Calculator Basic</h1>
  </div>
  <div class="content">
    <p class="paragraph-text">
      Basic version, containing all the features of the original calculators.
    </p>
    <div>
      <a (click)="googlePlayFree()">
        <img
          alt="Get it on Google Play"
          src="../../assets/google-play-badge.png"
          class="google-play-button"
        />
      </a>
    </div>
    <div>
      <a (click)="openInAppStoreFree()">
        <img
          alt="Get it on App Store"
          src="../../assets/app-store-badge.png"
          class="app-store-button"
        />
      </a>
    </div>
  </div>
</body>

<body [@cardAnimationNoStagger]>
  <div class="header">
    <img src="../../assets/pizza-icon.png" />
    <h1>Pizza Dough Premium</h1>
  </div>
  <div class="content">
    <p class="paragraph-text">The complete mobile app, with everything you need to pursue your obsession. </p>
    <div>
      <a (click)="googlePlayPremium()">
        <img
          alt="Get it on Google Play"
          src="../../assets/google-play-badge.png"
          class="google-play-button"
        />
      </a>
    </div>
    <div>
      <a (click)="openInAppStorePremium()">
        <img
          alt="Get it on App Store"
          src="../../assets/app-store-badge.png"
          class="app-store-button"
        />
      </a>
    </div>
  </div>
</body>
