<div class="inverted-notice content">
  <h4>
    NOTICE: Changes are coming that will impact your ability to download and use
    these apps. <a href="/PizzaApps/notice">Click here to learn more.</a>
  </h4>
</div>

<div class="button" *ngIf="specifyPlatform" (click)="allPlatforms()">
  <h4>Click for both platforms.</h4>
</div>

<body [@cardAnimationNoStagger]>
  <div class="header">
    <img src="../../assets/pizza-free.png" />
    <h1>Pizza Dough Calculator Basic</h1>
  </div>
  <div class="content">
    <p class="paragraph-text">
      Basic version, containing all the features of the original calculators.
      It's free! <a href="/PizzaDoughCalculator/about">Learn more.</a>
    </p>
    <div *ngIf="!specifyPlatform || (specifyPlatform && !isiOS)">
      <!-- <a (click)="googlePlayFree()">
        <img
          alt="Get it on Google Play"
          src="../../assets/google-play-badge.png"
          class="google-play-button"
        />
      </a> -->
      For Android: <a href="https://github.com/pslyman/Pizza-Dough-Calculator/tree/main/signed-apks/Pizza%20Calculator">Download
        Signed APK</a>
      <p>(Download the APK, and open it from your file manager app. It may ask you to allow installing from unofficial
        sources.)</p>
    </div>
    <div *ngIf="!specifyPlatform || (specifyPlatform && isiOS)">
      <a (click)="openInAppStoreFree()">
        <img alt="Get it on App Store" src="../../assets/app-store-badge.png" class="app-store-button" />
      </a>
    </div>
  </div>
</body>

<body [@cardAnimationNoStagger]>
  <div class="header">
    <img src="../../assets/pizza-icon.png" />
    <h1>Pizza Dough Premium</h1>
  </div>
  <div class="content">
    <p class="paragraph-text">
      The complete mobile app, with everything you need to pursue your
      obsession. <a href="/PizzaDoughPremium/about">Learn more.</a>
    </p>
    <div *ngIf="!specifyPlatform || (specifyPlatform && !isiOS)">
      <!-- <a (click)="googlePlayPremium()">
        <img
          alt="Get it on Google Play"
          src="../../assets/google-play-badge.png"
          class="google-play-button"
        />
      </a> -->
      For Android: <a href="https://github.com/pslyman/Pizza-Dough-Calculator/tree/main/signed-apks/Pizza%20Premium">Download Signed
        APK</a>
      <p>(Download the APK, and open it from your file manager app. It may ask you to allow installing from unofficial
        sources.)</p>
    </div>
    <div *ngIf="!specifyPlatform || (specifyPlatform && isiOS)">
      <a (click)="openInAppStorePremium()">
        <img alt="Get it on App Store" src="../../assets/app-store-badge.png" class="app-store-button" />
      </a>
    </div>
  </div>
</body>

<div [@cardAnimationNoStagger] class="line-break-parent">
  <div class="line-break"></div>
</div>

<body [@cardAnimationNoStagger]>
  <div class="content">
    <h5 class="paragraph-text">
      <a href="https://www.pizza.devlay.com" target="_blank" class="underline">Dough Calculator</a>
    </h5>
    <p>
      Link to the new web tool - modeled after the original Flash tools. Works
      on desktop and mobile.
    </p>
    <h5 class="paragraph-text">
      <a href="https://www.pizza-mobile.devlay.com" target="_blank" class="underline">App Preview</a>
    </h5>
    <p>
      Link to a preview of the mobile app. Demonstrates the power of Ionic: apps
      for Android, iOS, and web, using one single codebase.
    </p>
    <h5 class="paragraph-text">
      <a href="https://github.com/pslyman/Pizza-Dough-Calculator" target="_blank" class="underline">Calculator Code
        Explained</a>
    </h5>
    <p>
      I've open sourced the entire Calculator service for the Pizza Dough
      Calculator tools, and explained the most notable parts in this deep dive.
    </p>
  </div>
</body>