<body>
  <h2>Changelog - Pizza Dough Calculator</h2>

  <p>
    1.7.3 <br/>
    - Updates to wording<br />
    - Added tooltips<br />
    - Quality of life improvements<br /><br />
    
    1.7.2 <br />
    - Version matching<br /><br />

    1.7.1<br />
    - Added more information about preferment in the tooltip<br />
    - Changelogs can be accessed in About<br /><br />

    1.7.0
    <br />- At the expense of app size, I've moved all images to exist locally
    to improve loading and keep app totally offline<br /><br />

    1.6.29
    <br />- Corrected recipe instructions in regards to mixing <br /><br />

    1.6.28 <br />- Updated icon <br /><br />
    
    1.6.27 <br />- Don’t allow cloud
    sync/backup if there are no recipes saved 
    <br />- Fixed bug where changing
    salt type wouldn’t be reflected on the table<br /><br />

    1.6.25 
    <br />- US Customary wording <br /><br />

    1.6.24 
    <br />- Updated API target 
    <br />- Clarified Imperial is U.S.
    Customary<br /><br />

    1.6.23 
    <br />- Fixed wording gap in first-time dialog<br /><br />

    1.6.22 
    <br />- Version matching 
    <br />- Wording updates <br /><br />

    1.5.21
    <br />- Wording <br /><br />

    1.5.20 
    <br />- Misc fixes 
    <br />- Wording updates 
    <br />- Version matching
    <br /><br />

    1.4.18 
    <br />- Redid FAQ and Tips 
    <br />- Wording fixes <br /><br />

    1.4.17 
    <br />- Image fixes and optimization<br /><br />

    1.4.16 
    <br />- Fix typos, rewording, clarifications 
    <br />- Many styling refinements and misc fixes<br /><br />

    1.4.15 
    <br />- Reduced app size up to 55% of original size. <br /><br />

    1.4.14 
    <br />- Feature: Now a Detailed instructions view with images and
    tooltips 
    <br />- Now can hide instructions in Recipe tab <br />- Now
    portrait mode only. App had compatibility issues with landscape. Will
    revisit in the future if requested. 
    <br />- Reduced app size by about 15%
    <br /><br />

    1.3.13 
    <br />- Fixed issue with type conversion from string to boolean, and
    fixed toggle permanence.<br /><br />

    1.3.12 
    <br />- Feature: added Keep Screen On toggle to Recipe tab <br />-
    Made Recipe tab toolbar buttons visually toggle <br /><br />
    
    1.2.12 
    <br />-
    New input validation. Missing required fields will be tagged (side-borders)
    in blue. <br /><br />

    1.1.12 
    <br />- Fixed bug where inputs had to be reset before table would
    generate properly<br /><br />

    1.1.11 
    <br />- Fix on displaying table <br /><br />

    1.1.10 
    <br />- Re-set Metric to default (not null) 
    <br />- Better fix to added ingredients clearing <br /><br />

    1.1.9 
    <br />- Allowing most preferment values to be 0 if desired (for now)
    <br />- Updated tooltips and FAQ regarding Sourdough (preferment) 
    <br />- Fixed bug where preferment yeast amount wasn't sticking 
    <br />- Fixed bug
    where yeast wouldn't show in Final Dough table 
    <br />- Fixed bug where added
    ingredient values would clear when adding or removing 
    <br />- Removed empty
    button 
    <br />- Major speed improvements <br />-
    Proper spacing with table details <br /><br />

    1.1.8
    <br />- Fixes to showInfo toggle <br /><br />

    1.1.6 
    <br />- Can now toggle table details 
    <br />- Style fixes and
    improvements 
    <br />- Fixed bug where sloped pan value check failed
    <br /><br />

    1.0.5 
    <br />- Now public 
    <br />- Added persistent Measurement Type <br />-
    Dismiss button and other changes to first-time dialog <br /><br />

    1.0.4 
    <br />- Synchronizing versioning 
    <br />- Style fixes around table
    <br />- Wording updates 
    <br />- Fixed Premium link <br /><br />

    1.0.2 
    <br />- Minor fixes 
    <br />- Typo <br /><br />

    1.0.1
    <br />- Open for beta testing
  </p>
</body>
