.services {
  background-color: transparent;
  margin: auto;

  /*  width: 50%; */
  width: calc(50%);
  p {
    line-height: 21px;
  }
  h1,
  h2 {
    text-align: center;
  }
  h3 {
    font-style: normal;
    font-weight: bold;
    font-size: 17.5px;
  }
}

.features {
  background: linear-gradient(white 0%, #fdfdfd 100%);
  padding: 10px 4px 10px 4px;
  box-shadow: 1px 20px 15px 0px #888888;
  margin: auto;
  width: calc(50% + 12px);
  h2 {
    text-align: center;
  }
}

.indented {
  padding-left: 15px;
}

.grey-off {
  ion-icon {
    color: grey;
  }
}

.list-items-flex {
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  padding: 6px 6px 6px 6px;
  margin: 4px 0 4px 0;
  div {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  div p:first-of-type {
    font-weight: bold;
    line-height: 30px;
  }

  cursor: pointer;
}

.cast-a-shadow {
  box-shadow: 0px 8px 10px -3px #888888;
  background-color: #fafafa;
}

.item-title {
  line-height: 10px;
  margin: 0;
}

.arrow {
  transform: rotate(0deg);
  transition: transform 0.3s ease-out;
  width: 15px;
  height: 15px;
}

.arrow-turn {
  transform: rotate(90deg);
  transition: transform 0.3s ease-out;
}

.animate-fade-in {
  margin-bottom: 10px !important;
  margin-top: 5px !important;
  transition: visibility 0s, margin 0.3s ease-out;
  padding: 5px 0 5px 0;
}

.fade-out {
  visibility: hidden;
  margin-top: 0 !important;
  height: 0;
  margin-bottom: 5px !important;
}

.section-gradient {
  background: linear-gradient(white 0%, #fdfdfd 100%);
  padding: 10px 10px 10px 10px;
  box-shadow: 1px 20px 15px 0px #888888;
}

.start-element {
  margin-top: 20px !important;
}

.end-element {
  margin-bottom: 40px !important;
}

@media (max-width: 1250px) {
  .services {
    margin: auto;
    /* width: 75%; */
    width: calc(75%);
    padding-top: 20px;
  }
  .features {
    margin: auto;
    width: calc(75% + 12px);
  }
  .section-gradient {
    background: linear-gradient(white 0%, #f8f8f8 100%);
    padding: 10px 10px 10px 10px;
    box-shadow: 1px 20px 15px 0px #888888;
  }
}

@media (max-width: 530px) {
  .services {
    /* margin: 0 10px; */
    /* width: calc(100% - 20px); */
    width: calc(100% - 20px);
    padding-top: 10px;
  }
  .features {
    margin: auto;
    /* width: calc(100% - 20px); */
    width: calc(100% - 8px);
  }
  .section-gradient {
    background: linear-gradient(white 0%, #f8f8f8 100%);
    padding: 10px 10px 10px 10px;
    box-shadow: 1px 20px 15px 0px #888888;
  }
  .end-element {
    margin-bottom: 0 !important;
  }
}
