<div class="button"><h4><a href="https://www.porterlyman.com/aboutMe?p=portfolio">Home</a></h4></div>

<body [@cardAnimationNoStagger]>
  
  <div class="header">
    <img src="../../../assets/opentrackfit-icon.png" />
    <h1>OpenTrackFit</h1>
  </div>
  <div class="content">
    <p class="paragraph-text">
      An awful name for a very useful open source app for workout tracking.
      Includes in-app timers, prioritization, and other useful features for
      tracking.
    </p>
    <p>
      <a href="https://github.com/pslyman/OpenTrackFit">Repository</a>
    </p>
    <p>
      <a routerLink="../changelog">Changelog</a>
    </p>
    <div class="google-play-button">
      <a (click)="googlePlay()">
        <img
          alt="Get it on Google Play"
          src="../../../assets/google-play-badge.png"
          class="google-play-button"
        />
      </a>
    </div>
  </div>
</body>
