<div class="button">
  <h4><a href="/PizzaApps">See all apps</a></h4>
</div>

<body [@cardAnimationNoStagger]>
  <div class="header">
    <img src="../../../assets/pizza-icon.png" />
    <h1>Pizza Dough Premium</h1>
  </div>
  <div class="content">
    <p class="paragraph-text">
      Built on decades old formulas, this is a mobile recreation of well-known
      pizza dough tools from pizzamaking.com. <br /><br />
      Never figured out a good pizza recipe? This is the end all, for beginners
      and the experienced. The app does the heavy lifting, you just enter how
      you want your pizza and it will walk you through the rest.<br /><br />
      This is the Premium version (all profits go towards hosting and
      development costs) and offers extra features to keep your pizza game going
      strong.
    </p>

    <p>
      <a routerLink="../changelog">Changelog</a>
    </p>
    <div>
      <!-- <a (click)="googlePlay()">
        <img
          alt="Get it on Google Play"
          src="../../../assets/google-play-badge.png"
          class="google-play-button"
        />
      </a> -->
      For Android: <a href="https://github.com/pslyman/Pizza-Dough-Calculator/tree/main/signed-apks/Pizza%20Premium">Download Signed
        APK</a>
      <p>(Download the APK, and open it from your file manager app. It may ask you to allow installing from unofficial
        sources.)</p>
    </div>
    <div>
      <a (click)="openInAppStore()">
        <img alt="Get it on App Store" src="../../../assets/app-store-badge.png" class="app-store-button" />
      </a>
    </div>
  </div>
</body>