.services {
  background-color: transparent;
  margin: auto;
  padding-top: 40px;
  width: 50%;

  p {
    line-height: 21px;
  }
  h1,
  h2 {
    text-align: center;
  }
  h3 {
    font-style: normal;
    font-weight: bold;
    font-size: 17.5px;
  }
}

.features {
  margin: auto;
  width: calc(50% + 20px);
}

.indented {
  padding-left: 15px;
}

.grey-off {
  ion-icon {
    color: grey;
  }
}

.list-items-flex {
  padding: 6px;
  margin: 4px;
  div {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  div p:first-of-type {
    font-weight: bold;
    line-height: 30px;
  }

  cursor: pointer;
}

.cast-a-shadow {
  box-shadow: 0px 8px 4px -5px #888888;
  background-color: #fafafa;
}

.item-title {
    line-height: 10px;
    margin:0;
}

.arrow {
  transform: rotate(0deg);
  transition: transform 0.3s ease-out;
  width: 15px;
  height: 15px;
}

.arrow-turn {
  transform: rotate(90deg);
  transition: transform 0.3s ease-out;
}

.animate-fade-in {
  margin-bottom: 10px !important;
  margin-top: 5px !important;
  transition: visibility 0s, margin 0.3s ease-out;
}

.fade-out {
  visibility: hidden;
  margin-top: 0 !important;
  height: 0;
  margin-bottom: 5px !important;
}

@media (max-width: 1250px) {
  .services {
    margin: auto;
    width: 75%;
  }
  .features {
    margin: auto;
    width: calc(75% + 20px);
  }
}

@media (max-width: 530px) {
  .services {
    margin: 0 10px;
    width: calc(100% - 20px);
  }
  .features {
    margin: auto;
    width: 100%;
  }
}
