<div class="content">
  <h4>
    NOTICE: Changes are coming that will impact your ability to download and use
    these apps.
  </h4>
  <br />
  <p>
    <em
      >TL;DR: Some or all apps will be pulled from app stores. I will provide
      other ways for you to access them in other capacities. Read on to
      understand what's happening.</em
    >
  </p>

  <p>
    In 2024, the EU's Digital Services Act (DSA) was unilaterally set into
    motion which requires a number of compliance changes from app stores. The
    most impacting factor is the type of transparency it requires from app
    developers. Unless I agree to the new terms put in effect this year, my apps
    will be removed from app stores. One of these terms reads (paraphrasing) as
    follows:
    <strong
      >"Providers of online platforms... shall ensure that traders can only use
      those online platforms... if, prior to the use of their services... they
      have obtained the following information... the name, address, telephone
      number, and email address of the trader."
    </strong>
    <a href="https://eur-lex.europa.eu/eli/reg/2022/2065/oj/eng" target="_blank"
      >(Digital Services Act: Article 30 and Article 31)</a
    >
    Providers are the app stores, and the traders include myself. <br /><br />

    <em
      ><strong
        >This means that in order to distribute my apps, they require my home
        address, phone number, and email address available to the public on the
        app store pages.</strong
      ></em
    >
    An email address I can (and have) provided. I can create a secondary phone
    number. But I cannot in good conscience offer up my home address to the
    world. Not only is it an invasion of privacy, but it is unequivocally
    dangerous. Case in point, I have a family. They are more important to me
    than anything, and their safety is not something I can compromise.

    <br /><br />
    <strong
      >I've come to the difficult decision to not agree to the new terms. My
      apps will be removed from app stores any time between February and April
      2025.</strong
    >

    <br /><br />
    A possible solution may be to discontinue distributing my apps in the EU.
    However, I need to be careful with laws regarding discrimination by
    nationality. Many of my downloads are also from citizens of the EU, and I
    don't want them to miss out.

    <br /><br />
    However, not all is lost! There are some changes in the oven that will allow
    for you to keep cooking.
  </p>
  <ul class="normal-list">
    <li>
      Because my free apps obviously don't make money, they may be exempt from
      the new rules (I've reached out to the "providers" and they wouldn't offer
      clarification). If only the paid version of my apps are removed from app
      stores, and the free version is allowed to stay, then that's the path
      forward. The free version (starting now) will have features ported over
      from the paid version. Enjoy! The paid version will be a Donate version
      until they are eventually removed by the distributors. I will no longer
      have a small income to pay developer costs, but I will maintain them for
      as long as I can. Donations are always welcome.
    </li>
  </ul>
  <br />
  <h5>If that is not an option, then I will look into the following:</h5>
  <ul class="normal-list">
    <li>
      The apps may go open source, and signed app builds will be available from
      the repository.
    </li>
    <li>
      Because these are hybrid apps (web tech inside an app package), I will be
      hosting a website version. Yes, much of the same features are in the
      <a href="https://pizza.devlay.com">original website version</a>. You can choose
      whichever you prefer. If you don't want to download the apps and would
      like to try out the web version,
      <a href="https://www.pizza-mobile.devlay.com" target="_blank"
        >you can check it out here.</a
      >
    </li>
    <li>PWA, browser supporting.</li>
    <li>
      F-Droid (FOSS third-party app store for Android) is under consideration. I
      haven't researched this enough to say with assurance, but it could be a
      good option!
    </li>
  </ul>
  <br />
  <p>Some pros and cons of the new changes:</p>
  <ul class="normal-list">
    <li>
      If open source: because I will no longer have to dedicate time to cross
      platform support, feature development will be faster.
    </li>
    <li>
      If open source: Recipe sharing and backup will look a little different.
      It'll likely be more inconvenient.
    </li>
    <li>The in-app timer will be going away.</li>
  </ul>
  <br />
  <h2>Thank you!</h2>
  <p>
    I've appreciated every supportive email, feature request, bug report, and
    every download. You've all made this app something special, and I'm grateful
    for how far it's come. It's been a passion project from the beginning, and
    I'm hopeful of its future!
  </p>
</div>
