<body [@cardAnimationNoStagger]>
  <div class="header">
    <img src="../../../assets/sociallinker-icon.png" />
    <h1>Social Linker</h1>
  </div>
  <div class="content">
    <p class="paragraph-text">
      Trying to use social media less? Have you resorted to using them in a
      browser? Try Social Linker! It's dead simple. It's just an app with
      customizable buttons that link to the social media platforms of your
      choosing. For privacy, it's recommend to use in tangent with Brave or DuckDuckGo browsers.
      Otherwise, there is an option (lock button) to use in WebView, keeping
      everything within the app.<br><br>
      Check the repository to learn more. 
    </p>
    <p>
      <a href="https://github.com/pslyman/social-linker">Repository</a>
    </p>
  </div>
</body>
