<body>
  <h2 class="h1-mobile" [@cardAnimationNoStagger]>Services</h2>

  <div class="content-nav" [@cardAnimationNoStagger]>
    <h2 class="h1-hide">Services</h2>
  </div>

  <div>
    <div class="justify">
      <div class="parent" [@cardAnimation]="portfolioServices.length">
        <div
          *ngFor="let item of portfolioServices"
          class="tile big portfolio-tile"
          (click)="openLinkUrl(item.link)"
        >
          <div *ngIf="item.title || item.link">
            <div [ngClass]="{ 'image-title-pairing': item.source }">
              <div class="img-container" *ngIf="item.source">
                <img
                  *ngIf="item.source"
                  class="image"
                  src="{{ item.source }}"
                />
              </div>
              <div class="keep-left-please">
                <h2 class="h2-mobile-compatible">{{ item.title }}</h2>
                <p class="shrink-the-margins">{{ item.text }}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <h2 class="h1-mobile" [@cardAnimationNoStagger]>Sites</h2>

  <div class="content-nav">
    <h2 class="h1-hide" [@cardAnimationNoStagger]>Sites</h2>
  </div>

  <div>
    <div class="justify">
      <div class="parent" [@cardAnimation]="portfolioSites.length">
        <div
          *ngFor="let item of portfolioSites"
          class="tile big portfolio-tile"
          (click)="openLinkUrl(item.link)"
        >
          <div *ngIf="item.title || item.link">
            <div [ngClass]="{ 'image-title-pairing': item.source }">
              <div class="img-container" *ngIf="item.source">
                <img
                  *ngIf="item.source"
                  class="image"
                  src="{{ item.source }}"
                />
              </div>
              <div class="keep-left-please">
                <h2 class="h2-mobile-compatible">{{ item.title }}</h2>
                <p class="shrink-the-margins">{{ item.text }}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <h2 class="h1-mobile" [@cardAnimationNoStagger]>Apps</h2>

  <div class="content-nav" [@cardAnimationNoStagger]>
    <h2 class="h1-hide">Apps</h2>
  </div>

  <div>
    <div class="justify">
      <div class="parent" [@cardAnimation]="portfolioApps.length">
        <div
          *ngFor="let item of portfolioApps"
          class="tile big portfolio-tile"
          (click)="openLinkUrl(item.link)"
        >
          <div *ngIf="item.title || item.link">
            <div [ngClass]="{ 'image-title-pairing': item.source }">
              <div class="img-container" *ngIf="item.source">
                <img
                  *ngIf="item.source"
                  class="image"
                  src="{{ item.source }}"
                />
              </div>
              <div class="keep-left-please">
                <h2 class="h2-mobile-compatible">{{ item.title }}</h2>
                <p class="shrink-the-margins">{{ item.text }}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <h2 class="h1-mobile" [@cardAnimationNoStagger]>Misc</h2>

  <div class="content-nav">
    <h2 class="h1-hide" [@cardAnimationNoStagger]>Misc</h2>
  </div>

  <div>
    <div class="justify">
      <div class="parent" [@cardAnimation]="portfolioMisc.length">
        <div
          *ngFor="let item of portfolioMisc"
          class="tile big portfolio-tile"
          (click)="openLinkUrl(item.link)"
        >
          <div *ngIf="item.title || item.link">
            <div [ngClass]="{ 'image-title-pairing': item.source }">
              <div class="img-container" *ngIf="item.source">
                <img
                  *ngIf="item.source"
                  class="image"
                  src="{{ item.source }}"
                />
              </div>
              <div class="keep-left-please">
                <h2 class="h2-mobile-compatible">{{ item.title }}</h2>
                <p class="shrink-the-margins">{{ item.text }}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
